.city-selector {
  flex: 1;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.city-selector-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.city-selector-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
